OPENAI_API_KEY=your-api-key
OPENAI_API_BASE=https://polza.ai/v1
OPENAI_MODEL=gpt-4o
CLICKHOUSE_HOST=localhost
CLICKHOUSE_PORT=8123
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=
CLICKHOUSE_DB=txt2sql
MAX_ATTEMPTS=3
LANGFUSE_PUBLIC_KEY=pk-lf-85573195-5e58-4b78-b69b-64765b2ea773
LANGFUSE_SECRET_KEY=sk-lf-8fc90e0d-6e7c-4415-888b-d96e839d8bc2
LANGFUSE_HOST=http://localhost:3000